body,html{
    margin:0;
    height: 100%;
} 

*{
    box-sizing: border-box;
}

#main{
    display:flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     height: 100%;
}

#main>div{
    height:100px;
    width:100%;
    text-align: center;
}   

.s2 div{
    border-radius: 15px;
}

.l3{
    border:8px solid #007eff  !important;
    background:#007eff;
}

.para{
    background-color: whitesmoke;
    border: 2px solid #007eff;
    border-radius: 20px;
    font-size:1.7rem;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    color: red;
}


.s3{
    width:95% !important;
}

.s3:nth-child(2){
    font-size:2rem;
    font-family: cursive;
    color:blue;
    line-height: 9.2rem;
    margin:20px;
}

.s2{
    background:#cdebc4;
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
}

.s2:nth-child(3){
    padding:75px;  
}
.col{
    border-color: #000;
}
.s2>div{
    height:100px;
    width: 100px;
    margin:20px;
    color:#9ec551;
}

#inner1{
    background:#b2a4e0;
    color:#000;
    border-radius: 5px;
    border-color: red;
    border: solid;
}

#inner2{
    background:#fff;
    border:7px solid #9ec551;
    line-height:2.5rem;
    border-radius: 5px;
    border-color: red;
    border: solid;
}

#inner3{
    background:#cccccc;    
    line-height:5rem;
    border-radius: 5px;
    border-color: red;
    border: solid;
}